<nav>
    <div class="site-title">
        <a href="/blogs"><h1>Express Blog</h1></a>
        <p>An Express Blog Site</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>